:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 
::-webkit-scrollbar-thumb {
  background: #027b9a !important; /* Blue scrollbar thumb */
  border-radius: 6px !important;
}
::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey background */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}
 
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  padding: 60px 0;
  background: #fff;
  margin-bottom: 40px;
}

.scrollToTop {
  background-color: #027b9a !important;
}
.upArrow {
  color: white !important;
}
.caroselImage {
  width: 100%;
}
.buttonColor{
  background-color: #027b9a !important;
  color: white !important;
  border-radius: 5px;
}

.css-h4y409-MuiList-root{
  margin-bottom: 5rem !important;
}


.css-1fu7jd5-MuiButtonBase-root-MuiButton-root{
  background-color: #027b9a !important;
}


.css-bshv44-MuiButtonBase-root-MuiListItem-root.Mui-selected {
  background-color: #027b9a !important;
  color: white !important;
  border-radius: 3px;
}

/* .css-19z1ozs-MuiPaper-root-MuiAppBar-root{
  background-color: #027b9a !important;
}

.css-1191obr-MuiPaper-root-MuiAppBar-root{
  background-color: #027b9a !important;
} */

.css-jzurkx-MuiPaper-root-MuiAppBar-root{
  background-color: #027b9a !important;
}
.css-mfcln5-MuiPaper-root-MuiAppBar-root{
  background-color: #027b9a !important;
}
.css-h4y409-MuiList-root{
  padding-top: 0px !important;
}

.css-byenzh-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked{
  color: #027b9a !important;
}
.css-sghohy-MuiButtonBase-root-MuiButton-root{
  background-color: #027b9a !important;
}



/* template 3  */
.css-wg4xta-MuiGrid-root{
  background-color: #027b9a !important;
  color: white !important;
}
/* .css-83ijpv-MuiTypography-root{
  color: white !important;
}
.css-i4bv87-MuiSvgIcon-root{
  color: white !important;
} */


.css-zcbmsk-MuiButtonBase-root-MuiButton-root{
  background-color: #027b9a !important;
}