:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 
::-webkit-scrollbar-thumb {
  background: #027b9a !important; /* Blue scrollbar thumb */
  border-radius: 6px !important;
}
::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey background */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif !important;  */

}

body {
    font-family: "Poppins", sans-serif !important;
}
 
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  padding: 60px 0;
  background: #fff;
  margin-bottom: 40px;
}

.scrollToTop {
  background-color: #027b9a !important;
}
.upArrow {
  color: white !important;
}
.caroselImage {
  width: 100%;
}
.buttonColor{
  background-color: #027b9a !important;
  color: white !important;
  border-radius: 5px;
}

.css-h4y409-MuiList-root{
  margin-bottom: 5rem !important;
}


.css-1fu7jd5-MuiButtonBase-root-MuiButton-root{
  background-color: #027b9a !important;
}


.css-bshv44-MuiButtonBase-root-MuiListItem-root.Mui-selected {
  background-color: #027b9a !important;
  color: white !important;
  border-radius: 3px;
}



.css-jzurkx-MuiPaper-root-MuiAppBar-root{
  background-color: #027b9a !important;
}
.css-mfcln5-MuiPaper-root-MuiAppBar-root{
  background-color: #027b9a !important;
}
.css-h4y409-MuiList-root{
  padding-top: 0px !important;
}

.css-byenzh-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked{
  color: #027b9a !important;
}
.css-sghohy-MuiButtonBase-root-MuiButton-root{
  background-color: #027b9a !important;
}



/* template 3  */
.css-wg4xta-MuiGrid-root{
  /* background-color: rgb(34, 64, 92) !important; */
  background-color: rgb(44, 81, 115) !important;
  color: white !important;
}
.css-83ijpv-MuiTypography-root{
  color: white !important;
}



.css-zcbmsk-MuiButtonBase-root-MuiButton-root{
  background-color: #027b9a !important;
}





.css-9mgopn-MuiDivider-root{
  border-color: rgba(0, 0, 0, 0.24) !important;

}
.css-10hburv-MuiTypography-root{
  /* font-family: "IBM Plex Sans", sans-serif !important; */
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
  /* font-family: "IBM Plex Sans", sans-serif !important; */
  font-weight: 300 !important;
}

.css-lll1vm-MuiButtonBase-root-MuiButton-root{
  background-color: #027b9a !important;
}
.css-5lbw0b-MuiTypography-root{
  font-family: "Poppins", sans-serif !important;
}
.css-ag7rrr-MuiTypography-root{
  font-family: "Poppins", sans-serif !important;
}
/* .css-ahj2mt-MuiTypography-root{
  font-family: "Poppins", sans-serif !important;
} */
.MuiTypography-h4 {
  font-family: "Poppins", sans-serif !important;
}
.css-h93ljk-MuiTypography-root{
  font-family: "Poppins", sans-serif !important;
}
.css-18k87ye-MuiTypography-root{
  font-family: "Poppins", sans-serif !important;
}
.css-10wpov9-MuiTypography-root{
  font-family: "Poppins", sans-serif !important;
}
.css-qc420c-MuiTypography-root{
  font-family: "Poppins", sans-serif !important;
}
.css-10hburv-MuiTypography-root{
  font-family: "Poppins", sans-serif !important;
}
.css-1fu7jd5-MuiButtonBase-root-MuiButton-root{
  font-family: "Poppins", sans-serif !important;

}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root{
  font-family: "Poppins", sans-serif !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  font-family: "Poppins", sans-serif !important;

}
.css-1sqnrkk-MuiInputBase-input-MuiOutlinedInput-input{
  font-family: "Poppins", sans-serif !important;
}
.css-1rx3p08-MuiTypography-root{
  font-family: "Poppins", sans-serif !important;
}
.css-1vl95ex-MuiTypography-root{
  font-family: "Poppins", sans-serif !important;

}
.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root{
  font-family: "Poppins", sans-serif !important;

}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
  font-family: "Poppins", sans-serif !important;

}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
  font-family: "Poppins", sans-serif !important;

}
.css-sghohy-MuiButtonBase-root-MuiButton-root{
  font-family: "Poppins", sans-serif !important;

}