
.containerLogin {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .left-side,
  .right-side {
    flex: 1;
    min-width: 300px;
    padding: 20px;
  }
  
  .logoImage{
    width: 200px;
    margin-bottom: 2rem;
  }
  
  .left-side img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .loginForm {
    width: 100%;
    max-width: 400px;
  }
  
  .loginFormText {
    margin-bottom: 20px;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .containerLogin {
      flex-direction: column;
    }
  
    .left-side,
    .right-side {
      max-width: 100%;
      padding: 10px;
    }
  
    .loginForm {
      max-width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .left-side img {
      width: 100%;
    }
  }
  
  
  
  
  .loginBtn {
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  
  .formBtn {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1rem !important;
    border: none;
    background: white;
    gap: 10px;
    margin-bottom: 5rem;
    cursor: pointer;
  }
  .googleIcon{
    font-size: 2rem !important;
  }
  .registerColor{
    color: #027b9a;
  }
  
  .agreeText{
    font-size: 2px !important;
  }


  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  input,
  textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background: #027b9a;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.1em;
    font-family: "Poppins", sans-serif !important;
  }
  
  button[type="submit"]:hover {
    background: #027b9a;
  }
  