.containerProfileSection{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  margin-top: 6rem;
  flex-wrap: wrap;
  align-items: center;
}

.contentProfile {
  flex-grow: 100;
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .containerProfileSection {
    flex-direction: column;
    align-items: center;
  }
}
